<html>
  <head>
    <meta charset='utf-8' />
    <title>Portfolio Web App</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <div>
            Foto
          </div>
          <div class='timeline'>
            <header>{{ownerFirstName}} Timeline</header>
            <ul>
              <li>
                <div>foto</div><div><div>name</div><div>tweet</div></div>
              </li>
              <li>
                <div>foto</div><div><div>name</div><div>tweet</div></div>
              </li>
            </ul>
            <footer></footer>
          </div>
        </td>
        <td>
          <h1>{{fullName}}</h1>
          <div class='experience'>
            <header>My work Experience</header>
            <p>{{experience}}</p>
          </div>
        </td>
      </tr>
    </table>
    {{message}}
  </body>
</html>